.calc{
    width: 400px;
    height: 500px;
    background: rgb(81, 34, 34);
    margin-left: 500px;
    border-radius: 10px;
}
#screen{
    width: 80%;
    margin-left: 36px;
    height: 40px;
    margin-top: 30px;
    pointer-events: none;
    border-radius: 10px;
    border: solid 1px;
}
.btn{
    width: 60px;
    height: 46px;
    margin-left: 30px;
    margin-top: 30px;
    background: #3910cd;
    border-radius: 5px;
    cursor: pointer;
    color: aqua;

}
.btn:hover{
    background-color: rgb(249, 237, 237);
    color: rgb(0, 0, 0);
    
}